<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gallo League</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallo League</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="controles">
    <ion-segment
      [value]="familia()"
      (ionChange)="cambiarFamilia($any($event.detail.value))"
    >
      @for (f of familias; track f.clave) {
        <ion-segment-button [value]="f.clave">
          <ion-label>{{ f.etiqueta }}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>

    <ion-segment
      class="metricas"
      scrollable
      [value]="clave()"
      (ionChange)="clave.set($any($event.detail.value))"
    >
      @for (m of metricasDeFamilia(); track m.clave) {
        <ion-segment-button [value]="m.clave">
          <ion-label>{{ m.etiqueta }}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>

    <ion-item lines="none">
      <ion-toggle
        [checked]="soloHabituales()"
        (ionChange)="soloHabituales.set($event.detail.checked)"
      >
        Solo con {{ minimo }}+ partidos
      </ion-toggle>
    </ion-item>

    <ion-note class="conteo">
      {{ filas().length }} jugadores &middot; ordenado por {{ metrica().etiqueta }}
    </ion-note>
  </div>

  <div class="tabla-scroll">
    <table class="tabla">
      <thead>
        <tr>
          <th class="col-puesto">#</th>
          <th class="col-nombre">Nombre</th>
          <th [class.resaltada]="resaltada('goles')">Goles</th>
          <th [class.resaltada]="resaltada('asistencias')">Asist</th>
          <th [class.resaltada]="resaltada('influencias')">Infl</th>
          <th [class.resaltada]="resaltada('PJ')">PJ</th>
          <th [class.resaltada]="resaltada('PG')">PG</th>
          <th [class.resaltada]="resaltada('PE')">PE</th>
          <th [class.resaltada]="resaltada('PP')">PP</th>
          <th [class.resaltada]="resaltada('GF')">GF</th>
          <th [class.resaltada]="resaltada('GC')">GC</th>
          <th [class.resaltada]="resaltada('DG')">DG</th>
        </tr>
      </thead>
      <tbody>
        @for (j of filas(); track j.nombre; let i = $index) {
          <tr>
            <td class="col-puesto">{{ i + 1 }}</td>
            <td class="col-nombre">
              <a [routerLink]="['jugador', j.nombre]">{{ j.nombre }}</a>
            </td>
            <td [class.resaltada]="resaltada('goles')">
              {{ j.goles }} <span class="sub">({{ promedio(j.goles, j.PJ) }})</span>
            </td>
            <td [class.resaltada]="resaltada('asistencias')">
              {{ j.asistencias }} <span class="sub">({{ promedio(j.asistencias, j.PJ) }})</span>
            </td>
            <td [class.resaltada]="resaltada('influencias')">
              {{ j.influencias }} <span class="sub">({{ promedio(j.influencias, j.PJ) }})</span>
            </td>
            <td [class.resaltada]="resaltada('PJ')">{{ j.PJ }}</td>
            <td [class.resaltada]="resaltada('PG')">
              {{ j.PG }} <span class="sub">({{ porcentaje(j.PG, j.PJ) }})</span>
            </td>
            <td [class.resaltada]="resaltada('PE')">
              {{ j.PE }} <span class="sub">({{ porcentaje(j.PE, j.PJ) }})</span>
            </td>
            <td [class.resaltada]="resaltada('PP')">
              {{ j.PP }} <span class="sub">({{ porcentaje(j.PP, j.PJ) }})</span>
            </td>
            <td [class.resaltada]="resaltada('GF')">{{ j.GF }}</td>
            <td [class.resaltada]="resaltada('GC')">{{ j.GC }}</td>
            <td [class.resaltada]="resaltada('DG')" [class.negativo]="j.DG < 0">
              {{ j.DG > 0 ? '+' : '' }}{{ j.DG }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <ion-note class="pie">Toca un nombre para ver su ficha completa.</ion-note>
</ion-content>
